<link rel="stylesheet" href="/public/css/home.css">

<div class="slogan">
    <img src="../public/images/0a229820-bb69-4598-b75e-f8058cb20c97-removebg-preview.png" alt="tribalink logo" id="logo">
    <br><br>
    <h1><strong>TribaLink</strong></h1>
    <h3><i>Criando laços, conectando vidas.</i></h3>
</div>

<div class="carrosel">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../public/images/festa.jpg" alt="Los Angeles" class="d-block w-100" style="border-radius: 5px;">
            </div>
            <div class="carousel-item">
                <img src="../public/images/home2.jpg" alt="Chicago" class="d-block w-100" style="border-radius: 5px;">
            </div>
            <div class="carousel-item">
                <img src="../public/images/home3.jpg" alt="New York" class="d-block w-100" style="border-radius: 5px;">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<div class="intro">
    <p class="justificado"><strong>Tribalink</strong> é uma plataforma idealizada e dedicada a conectar a população brasileira aos povos indígenas, 
    promovendo o conhecimento e o respeito por suas ricas culturas e histórias. Nosso objetivo é criar laços que 
    contribuam para reduzir a invisibilização dos povos indígenas, oferecendo um espaço onde suas vozes, tradições 
    e perspectivas possam ser ouvidas e valorizadas. Através de conteúdos educativos e experiências interativas, 
    buscamos fortalecer a compreensão mútua e a solidariedade entre as comunidades, preservando e celebrando 
    a diversidade cultural do Brasil.</p>
</div>

<div class="button">
    <button type="button" class="btn btn-outline-warning">
        <a class="button" href="/sobre">Saiba Mais</a>
    </button>   
</div>



