<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldeia Pataxó</title>
    <link rel="stylesheet" href="/public/css/tha-fene.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <h1 id="title">Aldeia Pataxó - Coroa Vermelha</h1>

    <div class="info">
        <img id="thafene" src="../public/images/imgPtaxo-coroa.jpg" alt="Aldeia Pataxó">
        <div class="buttons-container">
            <p class="justificado">
                Os Pataxó vivem em diversas aldeias no extremo sul do Estado da Bahia e norte de Minas Gerais. <br>
                A Terra Indígena Coroa Vermelha é uma terra indígena localizada ao sul do Estado da Bahia, Brasil, 
                homologada em 10 de julho de 1998. Compreende uma área de 1.493 ha nos municípios de Santa Cruz de Cabrália e Porto Seguro. 
                Em 1998 a população estimada era de 1546 pataxós, segundo dados da Associação Nacional de Ação Indigenista.

            </p>
        </div>
    </div>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        let map;

        // Definição das propriedades
        const latitude = -16.335115253435106;
        const longitude = -39.01722660631203;

        // Função para renderizar o mapa
        function renderMap(coordinates) {
            // Verifica se o mapa já foi criado, se sim, move a visualização
            if (map) {
                map.setView(coordinates, 14);
            } else {
                // Cria o mapa
                map = L.map('map').setView(coordinates, 13);
                // Adiciona a camada do mapa
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '© OpenStreetMap'
                }).addTo(map);
            }
            // Adiciona um marcador no mapa
            L.marker(coordinates).addTo(map)
                .bindPopup('Aldeia Pataxó BA-986 - Arraial d´Ajuda, Porto Seguro - BA, 45810-000')
                .openPopup();
        }

        // Renderiza o mapa assim que a página carrega
        window.onload = function() {
            renderMap([latitude, longitude]);
        };
    </script>
</body>
</html>
