<link rel="stylesheet" href="/public/css/povos.css">

<div class="cards-catalog">
    <a href="/povos/tha-fene">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="../public/images/thafene-capa.jpg" alt="Card image" id="capa">
            <div class="card-body">
                <h4 class="card-title">Reserva Thá-Fene</h4>
                <p class="card-text">
                    <img class="pinpoint" src="../public/images/placeholder.png" alt="">
                    Lauro de Freitas - BA
                </p>
            </div>
        </div>
    </a>

    <a href="/povos/pataxo">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="../public/images/pataxo-capa.jpeg" alt="Card image" id="capa">
            <div class="card-body">
                <h4 class="card-title">Aldeia Pataxó - Coroa Vermelha</h4>
                <p class="card-text">
                    <img class="pinpoint" src="../public/images/placeholder.png" alt="">
                    Coroa Vermelha - BA
                </p>
            </div>
        </div>
    </a>

    <a href="/povos/aguas-belas">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="../public/images/imgAguas-Belas.jpg" alt="Card image" id="capa">
            <div class="card-body">
                <h4 class="card-title">Reserva Águas Belas</h4>
                <p class="card-text">
                    <img class="pinpoint" src="../public/images/placeholder.png" alt="">
                    Prado - BA
                </p>
            </div>
        </div>
    </a>

    <a href="/povos/aldeia-velha">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="../public/images/imgAldeia-Velha.jpg" alt="Card image" id="capa">
            <div class="card-body">
                <h4 class="card-title">Aldeia Velha</h4>
                <p class="card-text">
                    <img class="pinpoint" src="../public/images/placeholder.png" alt="">
                    Arraial D'Ajuda - BA
                </p>
            </div>
        </div>
    </a>

    <a href="/povos/barra-velha">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="../public/images/imgBarra-Velha.jpg" alt="Card image" id="capa">
            <div class="card-body">
                <h4 class="card-title">Barra Velha</h4>
                <p class="card-text">
                    <img class="pinpoint" src="../public/images/placeholder.png" alt="">
                    Caraíva - BA
                </p>
            </div>
        </div>
    </a>

    <a href="/povos/mata-medonha">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="../public/images/imgMata-Medonha.jpg" alt="Card image" id="capa">
            <div class="card-body">
                <h4 class="card-title">Mata Medonha</h4>
                <p class="card-text">
                    <img class="pinpoint" src="../public/images/placeholder.png" alt="">
                    Porto Seguro - BA
                </p>
            </div>
        </div>
    </a>
</div>

