<link rel="stylesheet" href="/public/css/sobre.css">

<div class="sobre_content">
    <h2>TribaLink: Contexto e Origem</h2><br>
    <p class="justificado">O TribaLink surge em um momento em que os povos indígenas no Brasil estão intensificando suas lutas por visibilidade, reconhecimento e preservação cultural. Historicamente, a narrativa oficial marginalizou a importância desses povos, muitas vezes tratando-os como obstáculos ao progresso, em vez de reconhecê-los como parte essencial da história e da formação social do Brasil. Desde o período colonial, os povos indígenas foram submetidos a um processo de desvalorização cultural, perda territorial e perseguição. Ao longo do tempo, foram sendo retratados como figuras passivas ou até mesmo como "selvagens", o que perpetuou estereótipos e dificultou o reconhecimento pleno de suas contribuições à sociedade brasileira.<br>
    No entanto, estudos históricos e movimentos sociais recentes vêm resgatando a importância dos povos indígenas, destacando sua resistência e a riqueza de suas culturas. O TribaLink nasce dessa necessidade de corrigir a invisibilidade e criar um espaço digital onde esses povos possam ser apresentados de forma digna e representativa, promovendo a conexão entre eles e o restante da sociedade. Essa plataforma busca ser uma ferramenta educativa e de conscientização, ajudando a sociedade a reconhecer a importância dos povos indígenas na construção da identidade nacional, ao mesmo tempo que facilita o contato e o diálogo entre diferentes culturas</p>
</div>

<div class="carrosel">
    <img src="../public/images/sobre1.jpg" alt="" style="width: 300px; height: 200px">
    <img src="../public/images/sobre2.jpg" alt="" style="width: 300px; height: 200px">
    <img src="../public/images/sobre3.jpg" alt="" style="width: 300px; height: 200px">
</div>

<div class="sobre_content" id="p2">
    <h2>Qual o objetivo do projeto?</h2><br>
    <p class="justificado">O TribaLink tem como objetivo principal fortalecer a conexão entre os povos indígenas e a sociedade em geral, promovendo o reconhecimento e a valorização das suas culturas e tradições. A plataforma visa oferecer um espaço digital onde informações sobre as tribos, seus territórios e formas de contato sejam acessíveis de maneira simples e direta. Além de facilitar o mapeamento e a visibilidade das comunidades indígenas, o TribaLink busca incentivar o diálogo e a troca de conhecimentos, aproximando as pessoas das riquezas culturais dos povos originários brasileiros.</p>
</div>